html,
body * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #272d2d;
}

h2{
    text-align: center;
    color: #fff;
	font-size: 1.6em;
}

.to-do{
	padding: 30px;
	margin-top: 20px;
	box-shadow: 5px 5px 3px #000;
	background: #0c1b33;
}

.header{
	margin-bottom: 10px;
	padding: 5px;
}


.divInsert{
	padding: 10px;
	background-color:gray;
	box-shadow: 3px 3px 10px 0px #000;
	
}

ul{
	flex-direction: column-reverse;
	list-style: none;
	font-size: 1em;
}

li{
	list-style-type: none;
}

.div-li{
	padding: 8px;
	margin-top: 10px;
	background: #fff;
	box-shadow: 3px 3px 10px 0px #000;	
	margin-left: -15px;
	margin-right: -15px;
}

.div-li input{
	width: 10%;
	outline: none;
	accent-color: currentcolor;
	margin-left: -8px;
}

.div-li span{	
	color: #000;
	font-size: 1.1em;
	font-weight: 900;
	margin-left: -4px;
}

.div-li button{
	position: absolute;
	right: 3px;
	background: #fff;
	height: 30px;
}
.div-li i{
	font-size: 1.2em;
}

.line-through{
	text-decoration: line-through;
}